<div id="containerAdmin" class="containerAuthor">
    <h1 class="m-4">Auteur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Surnom</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.firstname }}</td>
                <td>{{ author.lastname }}</td>
                <td>{{ author.nickname }}</td>
                <td>{{ author.createdDate ? author.createdDate|date('Y-m-d') : '' }}</td>
                <td class="container">
                    <a class="col-5 btn btn-primary btn-sm text-light" href="{{ path('author_show', {'id': author.id}) }}">Détail</a>
                    <a class="col-5 btn btn-primary btn-sm text-light" href="{{ path('author_edit', {'id': author.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Enregistrer un nouvel auteur</a>
</div>
