<div id="containerAdmin" class="containerEditor">
    <h1 class="m-4">Editeur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for editor in editors %}
            <tr>
                <td>{{ editor.id }}</td>
                <td>{{ editor.name | capitalize }}</td>
                <td>{{ editor.adress }}</td>
                <td>{{ editor.city | upper }}</td>
                <td>
                    <a class="btn btn-primary text-light" href="{{ path('editor_show', {'id': editor.id}) }}">Détail</a>
                    <a class="btn btn-primary text-light" href="{{ path('editor_edit', {'id': editor.id}) }}">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('editor_new') }}">Créer un nouvel éditeur</a>
</div>

