{% extends 'base.html.twig' %}

{% block title %}Editor{% endblock %}

{% block body %}
    <h1>Editor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ editor.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ editor.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ editor.adress }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ editor.city }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin') }}">Retour </a>

    <a class="btn btn-primary" href="{{ path('editor_edit', {'id': editor.id}) }}">Modifier</a>

    {{ include('admin/editor/_delete_form.html.twig') }}
{% endblock %}
