<div id="containerAdmin" class="containerBd">
    <h1 class="m-4">Bande Dessinée</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bande_dessinee in bande_dessinees %}
            <tr>
                <td>{{ bande_dessinee.id }}</td>
                <td>{{ bande_dessinee.name }}</td>
                <td>{{ bande_dessinee.createdDate ? bande_dessinee.createdDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-primary text-light" href="{{ path('bande_dessinee_show', {'id': bande_dessinee.id}) }}">Détail</a>
                    <a class="btn btn-primary text-light" href="{{ path('bande_dessinee_edit', {'id': bande_dessinee.id}) }}">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bande_dessinee_new') }}">Créer une nouvelle entrée</a>
</div>