{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<main>
    <div class="container-fluid d-flex flex-column align-items-center m-3">
        <h1 class="m-3">Ma collection</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Purchase_date</th>
                    <th>Price</th>
                    <th>Actions</th>
                    <th>Active/Passive</th>
                </tr>
            </thead>
            <tbody>
            {% for copy in copies %}
                <tr>
                    <td>{{ copy.bandeDessinee }}</td>
                    <td>{{ copy.purchaseDate ? copy.purchaseDate|date('d-m-Y') : '' }}</td>
                    <td>{{ copy.price | format_currency('EUR', locale='fr') }}</td>
                    <td>
                        <a class="btn btn-primary text-light" href="{{ path('copy_show', {'id': copy.id}) }}">Détail</a>
                        <a class="btn btn-primary text-light" href="{{ path('copy_edit', {'id': copy.id}) }}">Modifier</a>
                    </td>
                    <td>
                        <a href="{{ path('copy_archive', {'id': copy.id}) }}" value="{{ csrf_token('archive') }}" class="switchArchive" alt="bd" width="50" height="50">
                            {% if copy.archived == true %}
                            <img src="{{ asset('/img/switchOff.png') }}" alt="switch"  width="40" height="20">
                            {% else %}
                             <img src="{{ asset('/img/switchOn.png') }}" alt="switch"  width="40" height="20">
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('copy_new') }}">Ajouter une bd</a>
    </div>
</main>
{% endblock %}
