{% extends 'base.html.twig' %}

{% block title %}Copy index{% endblock %}

{% block body %}
    <h1>Copy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Purchase_date</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for copy in copies %}
            <tr>
                <td>{{ copy.bandeDessinee }}</td>
                <td>{{ copy.purchaseDate ? copy.purchaseDate|date('d-m-Y') : '' }}</td>
                <td>{{ copy.price | format_currency('EUR', locale='fr') }}</td>
                <td>
                    <a href="{{ path('copy_show', {'id': copy.id}) }}">show</a>
                    <a href="{{ path('copy_edit', {'id': copy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('copy_new') }}">Create new</a>
{% endblock %}
