{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<main>
    <div class="container-fluid d-flex flex-column align-items-center m-3">
        <h1 class="m-3">Ma collection</h1>

        <button class="btn btn-primary text-light" id="actionFavorite">Afficher les bd favorites</button>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Purchase_date</th>
                    <th>Price</th>
                    <th>Actions</th>
                    <th>Active/Passive</th>
                </tr>
            </thead>
            <tbody>
            {% for copy in copies %}
                {{ copy.favorite == true ? '<tr class="copyFavorite">': '<tr class="copyNoFavorite">' }}
                    <td><img src="{{ asset('/uploads/'~copy.bandeDessinee.image)}}" alt="{{ copy.bandeDessinee }}" width="50" height="100"></td>
                    <td>{{ copy.bandeDessinee }}</td>
                    <td>{{ copy.purchaseDate ? copy.purchaseDate|date('d-m-Y') : '' }}</td>
                    <td>{{ copy.price | format_currency('EUR', locale='fr') }}</td>
                    <td>
                        <a class="btn btn-primary text-light" href="{{ path('copy_show', {'id': copy.id}) }}">Détail</a>
                        <a class="btn btn-primary text-light" href="{{ path('copy_edit', {'id': copy.id}) }}">Modifier</a>
                    </td>
                    <td>
                        <a hx-put="{{ path('copy_archive', {'id': copy.id}) }}" hx-headers='{"token":"{{ csrf_token('archive')}}"}' hx-target="#testTest_{{copy.id}}" hx-swap="outerHTML">
                        {% if copy.archived == true %}
                            <img id="testTest_{{copy.id}}" src="{{ asset('/img/switchOff.png') }}" alt="switch"  width="40" height="20">
                        {% else %}
                             <img id="testTest_{{copy.id}}" src="{{ asset('/img/switchOn.png') }}" alt="switch"  width="40" height="20">
                        {% endif %}
                        </a>
                        <a hx-put="{{ path('copy_favorite', {'id': copy.id})}}" hx-headers='{"token":"{{ csrf_token('favorite')}}"}' hx-target="#favoriteCopy_{{copy.id}}" hx-swap="outerHTML">
                            {% if copy.favorite != true %}
                                <img id="favoriteCopy_{{copy.id}}" src="{{ asset('/img/heart_empty.png') }}" alt="heart empty" width="20" height="20">
                            {% else %}
                                <img id="favoriteCopy_{{copy.id}}" src="{{ asset('/img/heart_full.png') }}" alt="heart full"  width="20" height="20">
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('copy_new') }}">Ajouter une bd</a>
    </div>
</main>
{% endblock %}
