{% extends 'base.html.twig' %}

{% block title %}Copy{% endblock %}

{% block body %}
<main>
    <h1>Copy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ copy.id }}</td>
            </tr>
            <tr>
                <th>Purchase_date</th>
                <td>{{ copy.purchaseDate ? copy.purchaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ copy.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('copy_index') }}">back to list</a>

    <a href="{{ path('copy_edit', {'id': copy.id}) }}">edit</a>

    {{ include('copy/_delete_form.html.twig') }}
<main>
{% endblock %}
